/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
} */
.conatiner{
    gap: 2rem;
    padding-top: 5rem;
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content:space-around;
    border: 1px solid brown;
    background-color: brown;
    align-items: center;
}
.second-nav{
    display: flex;
    justify-content: space-around;

}
.third-part{
    display: flex;
    justify-content: space-around;
}

